body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.langDrawer{
  display: none;
}
@media(max-width: 908px){
  .title{
    padding-left: 15%;
  }
  .langDrawer{
    margin-left: 22%;
    margin-top: 4%;
    margin-bottom: 30px;
    display: block;
  }
}